@tailwind base;
@tailwind components;
@tailwind utilities;
.button:disabled {
  background-color: rgb(244 245 246);
  color: #ffc107;
}
.button {
  background-color: #ffc107;
  border-radius: 50%;
  padding: 15px;
  color: white;
}
